/*FONTS*/

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap");

/*COLORS*/

:root {
  --color1: #20283d;
  --color2: #e5b083;
  --color3: #425b49;
  --color4: #fbf7f3;
}

/*GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS 1", sans-serif;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--color1);
  height: 10%;
  width: 100%;
}

h1 {
  font-size: 400%; 
  font-weight: normal;
  color: var(--color3);
  text-align: right;
}

h2 {
  font-size: 150%;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color1);
  text-align: right;
}

h3 {
  visibility: hidden;
  margin: 20px 0 20px 0;
  font-size: 1.438rem;
  font-weight: 500;
}

/*HEADER SECTION*/

header {
  height: 100vh;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

a {
  padding: 0.938rem 1.25rem;
  margin: 1.875rem;
  color: var(--color2);
  font-size: 100%; 
  text-decoration: none;
}

header a:hover {
  background: var(--color2);
  color: var(--color1);
  border-radius: 0.125rem;
}

/*HERO SECTION*/

#hero {
  background: var(--color4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 90%;
}

.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#firstname {
  margin-right: 2.5%;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myphoto {
  border-radius: 50%;
  border: var(--color3) solid 0.125rem;
  height: 130%;
  margin-left: 8%;
}

/*MAIN SECTION*/

main {
  background: var(--color3);
}
#portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.section-heading {
  margin: 5rem 0;
}

.htmlcode {
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
  color: var(--color4);
  text-transform: uppercase;
}

.portfolio-wrapper {
  display: grid;
  grid-row: 1fr 1fr 1fr;
  grid-column: 1fr;
  width: 100%;
  justify-items: center;
}

.project, .project:nth-child(2){
  display: flex;
  flex-direction: row;
  background: #29324973;
  margin-bottom: 1.875rem;
  height: 19.375rem;
  cursor: pointer;
  width: 90%;
}

.img-container{
  height: 50%;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.photo img {
  border-radius: 5%;
  margin: 0 1.25rem;
  cursor: pointer;
  height:80%; 
  width: 130%;
}

.photo img:hover {
  transform: scale(1.1);
}

.description-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

p {
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
  color: var(--color2);
  padding: 20px;
  font-size: 100%;
}

footer {
  background: var(--color4);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  margin: 0;
  padding: 0;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socials {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--color3);
  color: var(--color4);
  margin: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************************************MEDIA QUERIES************************/

@media (max-width: 400px) {
  
  /* HEADER */
  header {
  height: 100vh;
  }

  /*NAVBAR*/
  a {
  margin: 0;
  }
  
  /*HERO*/
  #hero{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .about{
  width: 100%;
  }

  .img-container{
  width: 100%;
  }

  .name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  #firstname{
  font-size: 2rem ;
  }

  #lastname {
  font-size: 2rem;
  margin-bottom: 20%;
  }

  h2{
  font-size: 0.8rem;
  }

  #myphoto{
  width: 80%;
  height: 80%;
  }

/*PORTFOLIO*/
  main {
  height: 500%;
  display: flex;
  flex-direction: column;
  }

  .container{
  justify-content: start;
  }

  #portfolio{
  height: 100%;
  width: 100%;
  }

  .portfolio-wrapper{
  display: grid;
  grid-row: 1fr 1fr 1fr;
  grid-column: 1fr;
  width: 100%;
  grid-gap: 3%; 
  }

  .section-heading {
  margin: 2rem 0;
  }

  .htmlcode {
  font-size: 0.8rem;
  }

  .project {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  }

  .project:nth-child(2){
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  }

  .photo{
  height: 100%;
  width: 90%;
  margin: 5%;
  }

  .photo img{
  height: 90%;
  width: 90%;
  }

  .description-box{
  width: 100%;
  height: 60%;
  }

  

  #second-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  }

  p {
  height: 100%;
  width: 100%;
  border-radius: 0.625rem;
  color: var(--color2);
  }

  /*footer*/
  footer{
  height: 15%;
  }
}
